body {
    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Noto Sans JP', sans-serif;
        color: $theme-color;
    }
}


.main {
    margin-top: $header;
	min-height: calc(100vh - #{($header + $footer)}) !important;
}

[vs-theme=danger] {
    --vs-color: var(--vs-dander) !important;
}
